*{
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-wrap: wrap;
}

.bm-menu {
    background-color: transparent; /* Set background color to transparent */
    box-shadow: none; /* Remove any box shadow */
}